@model FordFamilyEyeCare.Web.ViewModels.OfficeFormsViewModel
@{
    ViewBag.Title = "Index";
}
@if (Model.EditMode)
{
    <table>
        @foreach (var form in Model.ExistingForms)
        {
            <tr>
                <td>@form</td>
                <td>@Html.ActionLink("delete", "DeleteForm", new { name = form })</td>
            </tr>
        }
    </table>
    <br />
        using (Html.BeginForm("uploadForm", "OfficeForms", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="newForm" id="newForm" />
            <button type="submit">Upload</button>
        }
    <br />
    @Html.ActionLink("Done Editing", "Index")
}
else
{
    if (User.Identity.IsAuthenticated)
    {
    <div style="text-align: center;">
        @Html.ActionLink("Edit this page", "Index", "OfficeForms", new { editMode = true }, new { @class = "navButton" })
    </div>
    <br />
    }
    <div style="font-family: Arial;">
        <h2>Office Forms</h2>
        <ul>
            @foreach (var form in Model.ExistingForms)
            {
                <li><a href="@Url.Content("~/content/officeforms/" + form)">@form</a></li>
            }
        </ul>
    </div>
}